<!DOCTYPE html>
<html>
<head>
	<title>Simply Falafel</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="assets/js/main.js"></script> -->
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.min.css">
	<script type="text/javascript" src="assets/js/jquery.fancybox.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Slabo|Lora|Encode+Sans" rel="stylesheet">
	<link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon"/>
	<script src="https://use.fontawesome.com/ae85989865.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>