<nav class="nav">
	<div class="container">
		<a href="/"><div class="logo"></div></a>
		<ul class="menu" style="float:right; width: 430px;">
			<a href="/"><li>Main</li></a>
			<div class="border"></div>
			<a href="/logout" id="signInBTN"><li>Log Out</li></a>
			<div class="border"></div>
			<!-- <a href="" id="cart" style="margin-left: 0px;"><li><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 30px;"></i></li></a> -->

			<div id="itemCount"></div>

			<div id="cart" style="margin-right: 60px; margin-top: 40px; cursor: pointer;"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 30px;"></i></div>

			<div class="clear"></div>
		</ul>
		<div class="clear"></div>
	</div>
</nav>
<div class="container menuPage" style="margin-top: 170px; margin-bottom: 15px;">
	<h1>Online Order Menu</h1>
	<div class="platter">**Plater comes with rice, salad, and drink</div>
	<div class="flexContainer2">
		<div class="flexFood">
			<h2>Meal</h2>
			<div class="meals">
				{{#meal response}}
				{{/meal}}
			</div>
		</div>
		<div class="flexFood">
			<h2>Vegan</h2>
			<div class="meals">
				{{#vegan response}}
				{{/vegan}}
			</div>
			<h2>Kids</h2>
			<div class="platter">**comes with fries and drink</div>
			<div class="meals">
				{{#kids response}}
				{{/kids}}
			</div>
			<h2>Salad</h2>
			<div class="meals">
				{{#salad response}}
				{{/salad}}
			</div>
		</div>
		<div class="flexFood">
			<h2>Sides</h2>
			<div class="meals">
				{{#side response}}
				{{/side}}
			</div>
			<h2>Drinks</h2>
			<div class="meals">
				{{#drink response}}
				{{/drink}}
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		&copy;2017 | Simply Falafel | 6627 Roswell Rd Suite A, Sandy Springs, GA
	</div>
</footer>

<div class="modal" id="shoppingCart">
	<div class="window">
		<div class="close"><i class="fa fa-times-circle" aria-hidden="true" style="font-size: 30px;"></i></div>
		<h2>Items</h2>
		<form action="/ShoppingCart" method="POST" class="form">
		<button type="submit">Submit</button>
		</form>
	</div>
</div>

<div class="modal quantity">
	<div class="window">
		<div class="close"><i class="fa fa-times-circle" aria-hidden="true" style="font-size: 30px;"></i></div>
	</div>
</div>

<script>
	$(".quantity").hide();
	$(".signIn").hide();
	$("#shoppingCart").hide();
</script>