<div class="container">
		<h1>Meal</h1>
		{{#each response}}
			{{#each response}}
				<div class="menuItem">{{this.menuItem}}.....{{this.style}}</div>
			{{/each}}
		{{/each}}
</div>
<script>
console.log('javascript works');
console.log({{response}});
</script>
