html, body {
	margin: 0px;
	padding: 0px;
}
body {
	/*height: 1500px;*/
	background: #ddd;
}
.section1 {
	width: 100%;
	min-width: 1200px;
	min-height: 820px;
	height: auto;
	background: url("../images/wallpaper1.jpg");
	background-size: cover;
	overflow: hidden;

}
nav {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,efefef+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	height: 85px;
	width: 100%;
	position: fixed;
	box-shadow: 5px 5px 8px #000;
	z-index: 100;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.logo {
	background-image: url("../images/logo2.png");
	height: 75px;
	width: 199px;
	background-size: cover;
	margin-top: 5px;
	float:left;
}
.dark {
	height: 80px;
	background: rgba(000,000,000,0.2);
	/*position: absolute;*/
}
.clear {
	clear: both;
}
.menu {
	width: 600px;
	margin-top:0px;
	float: right;
	/*border: solid 1px #000;*/
}
.menu a {
	float: left;
	text-decoration: none;
	font-family: 'Slabo', sans-serif;
	font-size: 24px;
	color: #6c7a1e;
}
.border {
	margin-top: 35px;
	width: 1px;
	height: 45px;
	float:left;
	background: #EEE;
}
.menu a:hover {
	background-color: #fff;
	color: #8c9b36;
}
.menu a li {
	list-style-type: none;
	border-image-left: url("../images/border.png");
	padding-left: 45px;
	padding-right: 40px;
	padding-top: 45px;
	padding-bottom: 8px;
}
.about {
	padding: 50px 35px;
	background: rgba(234,234,234,0.95);
	width: 980px;
	margin: 110px auto 0px;
	box-shadow: 10px 10px 20px #000;
}
.about h1 {
	font-family: 'Slabo', sans-serif;
	font-size: 21px;
	border-bottom: solid 3px #AAA;
	color: #622;
	font-weight: 500;
	padding-bottom: 5px;
	padding-left: 20px;
	margin-bottom: -5px;
}
.about img {
	border: solid 1px #400;
	box-shadow: 5px 5px 10px #644;
	float: left;
	width: 435px;
}
.about .description {
	margin-left: 32px;
	float: left;
	width: 450px;
	padding: 0px 20px;
	font-family: 'Lora', serif;
	font-size: 18px;
}
.section2 {
	padding-top: 80px;
	/*height: 960px;*/
	z-index: 10;
	top:40px;
}
.section2 h1 {
	font-family: 'Slabo', sans-serif;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
}
.section2 h2 {
	font-family: 'Encode Sans', sans-serif;
	font-size: 24px;
	font-weight: 200;
	letter-spacing: -1px;
	font-stretch: condensed;
}
.section2 h3 {
	clear: right;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-stretch: semi-expanded;
	margin-bottom: -10px;
}
.flexContainer {
	width: 1100px;
	display: flex;
	margin: 0 auto;
}
.flexContainer2 {
	width: 1200px;
	display: flex;
	margin: 0 auto;
}
.flexFood {
	flex: 1;
}
.foodSection {
	width: 240px;
	padding: 8px 12px;
	margin-top: -25px;
/*	border-left: solid 1px #AAA;
	border-right: solid 1px #AAA;*/
}
.flexFood .price {
	float: right;
	margin-top: -16px;
	margin-bottom: 20px;
	font-family: 'Slabo', sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
}
.downloadMenu {
	float: right;
}
.section2 a {
	color: #fff;
}
.order {
	margin-top: -62px;
	float: left;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
	padding: 18px 14px 20px 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: 600;	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b3f27+0,173f15+31,3e5415+77,2e5656+100 */
	background: rgb(43,63,39); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(43,63,39,1) 0%, rgba(23,63,21,1) 31%, rgba(62,84,21,1) 77%, rgba(46,86,86,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(43,63,39,1) 0%,rgba(23,63,21,1) 31%,rgba(62,84,21,1) 77%,rgba(46,86,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(43,63,39,1) 0%,rgba(23,63,21,1) 31%,rgba(62,84,21,1) 77%,rgba(46,86,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3f27', endColorstr='#2e5656',GradientType=0 ); /* IE6-9 */
}
.order:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c6b4d+0,316d3a+31,53753c+77,457c74+100 */
	background: rgb(76,107,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,107,77,1) 0%, rgba(49,109,58,1) 31%, rgba(83,117,60,1) 77%, rgba(69,124,116,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(76,107,77,1) 0%,rgba(49,109,58,1) 31%,rgba(83,117,60,1) 77%,rgba(69,124,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(76,107,77,1) 0%,rgba(49,109,58,1) 31%,rgba(83,117,60,1) 77%,rgba(69,124,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c6b4d', endColorstr='#457c74',GradientType=0 ); /* IE6-9 */
}
.downloadMenu {
	margin-top: 20px;
	float: left;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
	padding: 18px 14px 20px 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: 600;	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b3f27+0,173f15+31,3e5415+77,2e5656+100 */
	background: rgb(43,63,39); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(43,63,39,1) 0%, rgba(23,63,21,1) 31%, rgba(62,84,21,1) 77%, rgba(46,86,86,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(43,63,39,1) 0%,rgba(23,63,21,1) 31%,rgba(62,84,21,1) 77%,rgba(46,86,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(43,63,39,1) 0%,rgba(23,63,21,1) 31%,rgba(62,84,21,1) 77%,rgba(46,86,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3f27', endColorstr='#2e5656',GradientType=0 ); /* IE6-9 */
}
.downloadMenu:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c6b4d+0,316d3a+31,53753c+77,457c74+100 */
	background: rgb(76,107,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,107,77,1) 0%, rgba(49,109,58,1) 31%, rgba(83,117,60,1) 77%, rgba(69,124,116,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(76,107,77,1) 0%,rgba(49,109,58,1) 31%,rgba(83,117,60,1) 77%,rgba(69,124,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(76,107,77,1) 0%,rgba(49,109,58,1) 31%,rgba(83,117,60,1) 77%,rgba(69,124,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c6b4d', endColorstr='#457c74',GradientType=0 ); /* IE6-9 */
}
.section3 {
	background-color: #fff;
	width: 100%;
	padding-bottom: 30px;

}
.section3 h1 {
	font-family: 'Slabo', sans-serif;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	padding-top: 110px;
	padding-bottom: 10px;
}
.slideshow {
    position: relative;
    height: 540px;
    width: 800px;
    overflow: hidden;
    float: left;
}
.slideshow img {
    position: absolute;
    top: 0;
    left: -800px;
    width: 800px;
    height: 540px;
    -webkit-transition: all 0.6s ease;                  
    -moz-transition: all 0.6s ease;                 
    -o-transition: all 0.6s ease;   
    -ms-transition: all 0.6s ease;          
    transition: all 0.6s ease;
}
.slideshow img:first-child {
    left: 0px;
}
.imgRight {
	width: 400px;
	float: left;
}
.lightbox a img {
	margin: 15px 5px;
	width: 226px;
}
.section4 h1 {
	font-family: 'Slabo', sans-serif;
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 30px;
}
.section4 iframe {
	border: solid 1px #444;
	box-shadow: 6px 6px 10px #400;
	float: left;
}
.section4 .contact {
	float: right;
	margin-right: 90px;
}
.contact a {
	color: #000;
	text-decoration: none;
}
.fa {
	margin: 0px 15px;
	float: right;
	margin-bottom: 30px;
}
.tele {
	font-family: 'Slabo', sans-serif;
	font-size: 25px;
}
.section4 {
	padding-bottom: 50px;
}
.section4 h2 {
	font-family: 'Encode Sans', sans-serif;
	font-size: 24px;
	text-align: center;
}
.section4 ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	font-family: 'Slabo', sans-serif;
	font-size: 24px;
}
.footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,efefef+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	box-shadow: -5px -5px 8px #000;
	height: 40px;
	padding-top: 25px;
	width: 100%;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
}
#signInBTN {
	border-radius: 10px;
	margin-top: 33px;
	margin-left: 15px;
	background: #d43c49;
	color: #fff;
	font-size: 18px;
}
#signInBTN li {

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.meals {
	padding-right: 30px;
}
.mealItem {
	position: relative;
	padding: 8px 0px 6px 0px;
	border-bottom: solid 1px #CCC;
}
.style {
	position: absolute;
	right: 90px;
}
.meals button {
	position: absolute;
	right: 0px;
}
.meals button:hover {
	cursor: pointer;
}
.menuPage h1 {
	font-family: 'Slabo', sans-serif;
	font-size: 32px;
}
.menuPage h2 {
	font-family: 'Encode Sans', sans-serif;
	font-size: 24px;
}
.description h2 {
	font-family: 'Encode Sans', sans-serif;
	font-size: 24px;	
}
.platter {
	font-family: 'Encode Sans', sans-serif;
	font-size: 16px;
	font-style: italic;	
}
.section2 .platter {
	
	margin-left: 80px;
}
.fa-shopping-cart {
	color: #d43c49;
}
#cart {
	background: none;
	padding: 0px;
}
.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(000,000,000,0.6);
	z-index: 200;
	top: 0;
	left: 0;
}

.quantity .window {
	background: #DDD;
	margin: 190px auto;
	width: 400px;
	padding: 20px;
	height: 150px;
	border-radius: 10px;
}
.quantity .close {
	color: #d43c49;
	cursor: pointer;
}
#menuItem {
	margin: 50px 40px;
}

#menuItem, #quantity {
	font-family: 'Encode Sans', sans-serif;
	font-size: 18px;	
}

#signIn h2 {
	font-family: 'Encode Sans', sans-serif;
	font-size: 24px;	
}

#signIn input[type=email], input[type=password] {
    width: 560px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#signIn .container p {
	width: 560px;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#signIn button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 560px;
}

#signIn .close i {
	margin-top: 20px;
	margin-right: 15px; 
}

#register .close i {
	margin-top: 20px;
	margin-right: 15px; 
}

#signIn button:hover {
    opacity: 0.8;
}
#signIn {
    width: 600px;
    margin: 120px auto;
    background: #d43c49;
    color: #fff;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
}

#signIn .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    background-size: cover;
    margin-top: 5px;
}
#signIn #signInHeader {
    text-align: center;
}

#signIn img.signInLogo {
    width: 40%;
}
span.psw {
    float: right;
}

#signIn .container {
    padding: 16px;
}

#register .container {
    padding: 16px;
}
#shoppingCart .window {
	background: #ddd;
	width: 760px;
	margin: 120px auto;
	min-height: 90px;
	padding: 20px;
}
#itemCount {
	position: absolute;
	margin-left: 310px;
	margin-top: 45px;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
	color: #d43c49;
}
.lineItem {
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
	margin: 10px 0px 8px 40px;	
}
.close {
	cursor: pointer;
}

#register {
    width: 600px;
    margin: 120px auto;
    background: #d43c49;
    color: #fff;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
}

#register #registerHeader {
	text-align: center;
}

#register .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    background-size: cover;
    margin-top: 5px;
}

#register button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 560px;
}
#register button:hover {
    opacity: 0.8;
}

#register h2 {
	font-family: 'Encode Sans', sans-serif;
	font-size: 24px;	
}

#register input[type=text], input[type=email], input[type=password] {
    width: 560px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#register .container p {
	width: 560px;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#shoppingCart .window {
	border-radius: 10px;
}
#shoppingCart form .lineItem {
	font-family: 'Slabo', sans-serif;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	width: 690px;
}
#shoppingCart h2 {
	font-family: 'Encode Sans', sans-serif;
	font-size: 24px;
	text-align: center;	
}
.lineItem .menuItem {

}
.lineItem .specialRequest {
	position: absolute;
	right: 150px;
}
#shoppingCart form .lineItem .price {
	clear: both;
	position: absolute;
	right: 40px;
	top: 4px;
}
.lineItem .remove {
	clear: both;
	position: absolute;
	right: 0px;

}
.checkout .window {
	background: #DDD;
	margin: 190px auto;
	width: 600px;
	padding: 20px;
	border-radius: 10px;
}
.checkout .window .items {
	margin-left: 30px;
	width: 520px;
	clear: both;
}
.checkout .items .checkoutItem {
	position: relative;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.checkout .items .price {
	float: right;
	margin-top: 0px;
	margin-bottom: 8px;
	right: 0;
	font-family: 'Slabo', sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
}
.checkout .items .request {
	text-align: center;
	position: absolute;
	right: 90px;
}
.shoppingCol {
 width: 200px;
 float: right;
 margin-right: 60px;
}
.subTotal {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	float: right;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
}
.tax {
	margin-left: 100px;
	margin-bottom: 10px;
	float: right;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
}
.total {
	margin-left: 80px;
	margin-bottom: 10px;
	float: right;
	font-family: 'Slabo', sans-serif;
	font-size: 18px;
}